@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-back-0
  }
  html {
    @apply text-font-0
  }
  input[type="range"] {
    @apply bg-back-1 rounded-xl outline-none border-2 border-back-2 appearance-none h-[17px] my-[10px];
  }
  input[type="range"]::-webkit-slider-thumb {
    @apply bg-primary-600 appearance-none h-[30px] w-[13px] rounded-full;
  }
  input[type="range"]::-moz-range-thumb {
    @apply bg-primary-600 appearance-none h-[30px] w-[13px] rounded-full;
  }

  input[type="range"][disabled]::-webkit-slider-thumb {
    @apply bg-primary-800;
  }
  input[type="range"][disabled]::-moz-range-thumb {
    @apply bg-primary-800;
  }

  .grid-center {
    display: grid;
    align-items: center;
    justify-items: center;
  }
}

@layer utilities {
  .simple-link {
    @apply text-primary-100 hover:text-primary-200 underline-offset-1 underline;
  }
}