<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!DOCTYPE AIModel SYSTEM "https://raw.githubusercontent.com/cau777/ai_playground/master/docs/layers_config_types.dtd">

<AIModel>
    <LossFunc><CrossEntropy/></LossFunc>

    <Layer>
        <Sequential>
            <ExpandDim dim="0"/>
            <Convolution in_channels="1" out_channels="32" kernel_size="5" stride="1" padding="2">
                <KernelsLr><Adam/></KernelsLr>
            </Convolution>
            <Relu/>
            <MaxPool size="2" stride="2" padding="0"/>
            <Dropout drop="0.4"/>

            <Convolution in_channels="32" out_channels="64" kernel_size="5" stride="1" padding="2">
                <KernelsLr><Adam/></KernelsLr>
            </Convolution>
            <Relu/>
            <MaxPool size="2" stride="2" padding="0"/>
            <Dropout drop="0.4"/>

            <Flatten/>

            <Dense in_values="3136" out_values="128">
                <WeightsLr><Adam/></WeightsLr>
                <BiasesLr><Adam/></BiasesLr>
            </Dense>
            <Relu/>
            <Dropout drop="0.4"/>

            <Dense in_values="128" out_values="10">
                <WeightsLr><Adam/></WeightsLr>
                <BiasesLr><Adam/></BiasesLr>
            </Dense>
        </Sequential>
    </Layer>
</AIModel>